<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contect">Contect</a>
    <h1>About the Project</h1>
</body>
</html>
