<!DOCTYPE html>
<html>
  <head>
    <title>Contect</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contect">Contect</a>
    <h1>Contect us</h1>
   
  </body>
</html>

  