  <div class="hero_area">
    <!-- header section strats -->
    <%- include('header'); -%>
    
    <!-- end header section -->
    
    <!-- slider section -->
    <section class="slider_section ">
      <div class="slider_bg_box">
        <img src="images/slider-bg.jpg" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-8 col-lg-7 mx-auto">
                  <div class="detail-box">
                    <h1>
                      OCATC
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum magnam, voluptates distinctio, officia architecto tenetur debitis hic aspernatur libero commodi atque fugit adipisci, blanditiis quidem dolorum odit voluptas? Voluptate, eveniet?
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>        
      </div>

    </section>
    <!-- end slider section -->
  </div>



  <!-- end service section -->


 

  <!-- end about section -->


  <!-- why us section -->

  <section class="why_us_section layout_padding">
    <div class="why_bg_box">
      <img src="images/why-bg.jpg" alt="">
    </div>
    <div class="why_us_container">
      <div class="container">
        <div class="box_container">
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="box">
                <div class="num-box">
                  <span id="countDay" class="count">
                    3850
                  </span>
                </div>
                <h5>
                  Hours Of Work
                </h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box">
                <div class="num-box">
                  <span id="countSec" class="count">
                    219
                  </span>
                </div>
                <h5>
                  Projects Completed
                </h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box">
                <div class="num-box">
                  <span id="countMin" class="count">
                    16
                  </span>
                </div>
                <h5>
                  Industries Served
                </h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box">
                <div class="num-box">
                  <span id="countHour" class="count">
                    198
                  </span>
                </div>
                <h5>
                  Satisfied Clients
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end why us section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What Says Our <span>Clients</span>
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="client_id">
                <div class="img-box">
                  <img src="images/c1.jpg" alt="" class="box-img">
                </div>
                <h5>
                  Mike Trope
                </h5>
              </div>
              <div class="detail-box">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                </p>
                <h6 class="rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </h6>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="client_id">
                <div class="img-box">
                  <img src="images/c2.jpg" alt="" class="box-img">
                </div>
                <h5>
                  Jonas Bell
                </h5>
              </div>
              <div class="detail-box">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                </p>
                <h6 class="rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->


  <!-- info section -->

 <%- include('footer'); -%>

  <!-- end info section -->

  
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="/javascripts/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="/javascripts/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="/javascripts/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>
